[2017-08-13 04:05] Rspigler commented on #537
Hi @gnujedi, thanks for your work on this.  I don't believe I have enough standing to make a comment on ownership of the campaign, but I'm replying here to once again state my support for this project and my promise to donate.

[2017-08-13 06:23] Baccount commented on #553
There has been almost no changes in the code in the last year, so it looks like you should try and look at Tor Messenger Beta to replace it. the version of tor that ricochet uses is Tor 0.2.8.9 ant that is outdated at this point. Here is the link to the official Tor Messenger Beta.

https://trac.torproject.org/projects/tor/wiki/doc/TorMessenger#Downloads

[2017-08-13 06:28] Baccount commented on #551
There has been almost no changes in the code in the last year, so it looks like you should try and look at Tor Messenger Beta to replace it. the version of tor that ricochet uses is Tor 0.2.8.9 ant that is outdated at this point. Here is the link to the official Tor Messenger Beta. remember it is still a beta so there may be possible security issues.

https://trac.torproject.org/projects/tor/wiki/

[2017-08-14 06:08] cybershambles commented on #553
Have you noticed that ricochet-go has been updated like.. two days ago?

https://github.com/ricochet-im/ricochet-go/commits/master

He's working on the next version... be cool

[2017-08-14 12:33] ashu-22 commented on #54
What kind of feature we have to install on that chat system.

[2017-08-14 13:13] ashu-22 commented on #54
I have already installed that chat software.

[2017-08-14 16:13] rburchell commented on #553
Yes, development is ongoing.

[2017-08-14 16:13] #553 closed

[2017-08-14 16:14] rburchell commented on #551
If you're using the official binaries, if you can get a backtrace, then please open a bug with that information. If you are using some kind of a distribution package, I would recommend opening a bug with your distribution instead.

Unfortunately, just saying that it crashed isn't of much help as-is, I haven't seen any similar reports elsewhere here.

[2017-08-14 16:14] #551 closed

[2017-08-14 16:19] rburchell commented on #552
Translations are managed through Transifex.

Register over on Transifex and request to join the Ricochet translation for the language in question, and wait for the request to be approved.

[2017-08-14 16:19] #552 closed

[2017-08-14 16:20] rburchell commented on #550
Unfortunately, none of us use/know anything about NetBSD, so I think you're more or less on your own. You can set no-hardened during build, which will disable ASAN & others. Sometimes they have caused problems on more esoteric platforms/configurations.

[2017-08-14 16:20] #550 closed

[2017-08-19 11:48] ghost opened #555 "Updates? "Is Ricochet Dead?""
Some users claimed on Reddit that Ricochet is dead. That's because the last upload is 2016.
Half of 2017 passed, and it's time to release new version. As a daily ricochet user, I want to ask - what the hell is going on?

Here's some important things(high priority than UI update):

 - https://github.com/ricochet-im/ricochet/issues/72 (OTR+TLS encryption)
 - HiddenServiceAuth support.
 - Update Tor,

[2017-08-22 00:17] distbit0 commented on #555
Yeah I would like to see some more development going on with this amazing project. I would definitely consider contributing to this if it was in a language that I know much about. Pls keep developing this amazing project!

[2017-08-22 09:49] ghost commented on #555
If anyone is using Twitter, please let him know this issue.

https://twitter.com/jbrooks_?lang=en

(Twitter blocked Tor registration so no go to me)

[2017-08-22 17:21] s-rah commented on #555
Hi, I don't speak for @special, but I think some context might be useful.

There is currently a bunch of (official|unofficial) work going on in the wider ecosystem - most of it related to factoring out the base library[1] to go to make it more useful as well as porting the main client to go[2].

There are also a few experiments regarding running on mobile[3] and using ricochet and these other libr

[2017-08-22 20:25] rburchell commented on #555
I think @s-rah's given a pretty useful summary already. No, ricochet is not dead. It's just continuing at the pace of the current people working on it. That might not be the fastest pace in the universe at times, but that's just the way life is. If you aren't happy with that pace, the beauty of open source is that you have the freedom to contribute as you see fit.

This includes releases: it may b

[2017-08-22 20:25] #555 closed, assigned to nobody

[2017-08-22 22:09] burdges commented on #555
I think [briar](https://briarproject.org/how-it-works.html) basically operates on Tor hidden services if you just want a messenger with a similar threat model on a mobile device.

[2017-08-23 04:50] increasingawareness commented on #537
Okay, so I deactivated the team I had set up since there was already a "ricochet-im" team (not "ricochet") that has some bounties set up for this project, but the Salt feature of bountysource will have to wait until @special wants to set it up. I opened a pull request #554 to change the readme to include a bounty button to show the current amount of cash available to bounty hunters. This doesn't r

[2017-09-09 09:00] szh7379 opened #556 "So many times"
Most of the time people spent on IM is group chat, especially a serverless PC messenger, no server, no offline messages. adding friend, send message, all these are troubles. In a P2P IM, people get less friends than other IM, if you want they keep using it, they must get more messages, they need group feature.Group chat should be the NO.1 feature need be added after basic messaging function.

Had

[2017-09-10 13:51] rburchell commented on #556
Thanks for your suggestion. Group messaging is already tracked over on #54.

[2017-09-10 13:51] #556 closed, assigned to nobody

[2017-09-16 12:45] ghost opened #558 "Add pluggable transports support"
In particular,

- [ ] obfs4
- [ ] meek (which is, *for now*, the only way to access Tor from China)
- [ ] snowflake, although still alpha is very promising.

[2017-09-23 11:51] rburchell opened #559 "Open link dialog size hardcoding is harmful"
OpenBrowserDialog forces: width: 400, rather than using the width of the layout. This means that different font metrics can make this dialog unpleasant, or impossible to use.

[2017-09-23 11:52] rburchell commented on #559
Screenshot taken from ricochet on gtkplatform on Fedora 26.

![Open browser dialog bad sizing](https://user-images.githubusercontent.com/125863/30772924-570191a8-a066-11e7-9121-b0cb42832ec4.png)

[2017-09-24 06:20] szh7379 opened #560 "Will ricochet support i2p?"
I2p can creat hidden service too,  via SAM or BOB bridge,  just like tor's control port, with api won't need more works. Because in some country connect to tor network is very difficult, but i2p work with KAD, it is diificult to blocked.

If you think i2p can't built-in, you can built-in i2pd, it is recommended by i2p officially. or just procide a opition to control port, no need to built-in i2p.

[2017-09-24 09:12] rburchell commented on #560
See #82.

[2017-09-24 09:12] #560 closed, assigned to nobody

[2017-09-24 09:27] szh7379 commented on #560
Ok, i got it, will be a very long time to think about it, it is real very hard to connect to tor in my country, so i really want devs consider that.

[2017-11-18 10:45] d3prof3t opened #561 "Installation error on OSX (High Sierra)"
I'm facing an issue with the installation process. Please refer to the link for screenshot of the same [here](https://share.riseup.net/#5_OBselnFc6cOdfB97ee4w
)

[2017-11-20 07:45] d3prof3t commented on #561
I've found a solution to this using `brew cask`. If anybody requires then refer [here](http://macappstore.org/ricochet/) for instructions.

[2017-11-20 07:45] #561 closed, assigned to nobody

[2017-11-20 12:02] rburchell commented on #561
glad you found a workaround. the issue itself is a duplicate of #122.

in future, please upload things to Github directly or transcribe them (drag and drop, or clipboard) - having the content directly in the issue tracker is a lot more future-proof.

[2017-11-23 03:38] yurivict opened #562 "rcc errors: RCC: Error in 'translation/embedded.qrc': Cannot find file 'ricochet_es.qm'"
Version 1.1.4 on FreeBSD prints these errors:

[code]

[2017-11-24 13:06] quoidautre opened #564 "Crash with Windows 10 (portable ou standard) edition"
Hi,
I've just installed Ricochet on my desktop computer, on Windows 10 :(.
I've try with the standard edition and the the portable too.

Here the problem :
[code]
and
[code]
And, I if launch tor.exe :
[code]
Have you an idea about this ?. I'm on professionnal computer but the proxy doesn't block "Tor Browser"

[2017-11-30 12:22] yoavschwartz opened #565 "Question: Why does the protocol need to use the cookie for the signature?"
Currently in the protocol documentation, I see that the proof signature is calculated as such:
[code]
Why is it necessary to exchange cookies? when using hidden service, the connection in Tor performs a Diffie Halman for every connection, so a replay attack would not be possible anyways? as the keys for the DH will be different for any new connection. why would it not be enough to do something lik

[2017-11-30 19:32] s-rah commented on #565
I believe this prevents attacks where the attacker is able to steal or otherwise get the Proof Spec but not compromise the private key.

For example, let's say we have 2 contacts Alice and Carol.

Under the current scheme every proof spec that Alice sends to Carol is unique, because of the cookies - you cannot use a past proof spec in a future connection.

The cookies keep the proof session specif

[2017-11-30 20:28] yoavschwartz commented on #565
That's what I was thinking as well, just wanted to make sure:
But we only need the server to come up with a cookie right? since if an attacker is listening in, he can himself set the cookie that fits as needed.

[2017-12-01 19:48] s-rah commented on #565
I kind of agree. Assuming the server always generates a unique random cookie per session I cannot see an attack in which proof or protocol security is compromised by just having server cookies.

If a bug allowed server cookie reuse, meaning Alice's proof is always the same, this would break the proof of private key access for Alice...but would be a bug in the server.

Having both a client and serv

[2017-12-06 10:25] quoidautre commented on #564
Hi,
I've just add the application to the windows's firewall, and it's done.

[2017-12-06 10:46] rburchell commented on #564
Good that you found a solution.

[2017-12-06 10:46] #564 closed, assigned to nobody

[2017-12-24 18:59] s-rah opened #567 "Protocol: Feature Negotiation"
I'm currently building out some tools where I would like to use the feature negotiation part of the ricochet control channel.

Currently this aspect is mostly undefined in the protocol, with clients expected to return an empty string.

I'd like to clarify two points on how this negotiation should behave going forwards

1) Feature Strings should align with Channel Types e.g. `im.ricochet.chat` is a

[2017-12-24 19:20] nyarly commented on #567
Please forgive my ignorance of ricochet in general. Is there any chance of downgrade attacks as a result of negotiation?

[2017-12-24 19:33] s-rah commented on #567
Hi @nyarly - downgrade attacks tend to require a MITM posture to fully exploit, which is currently not possible with ricochet connections, with the onions providing end-to-end encryption.

It is certainly possible in the future with protocol extensions and new channel types that feature negotiation could be used to ensure a peer only communicates with you over a "weaker"/known vulnerable channel.

[2017-12-24 20:40] ghost commented on #559
Hey! I actually wrote a fix for this over here -> https://github.com/ricochet-im/ricochet/pull/566
Please let me know if this works, I didnt use layout.with because it caused the popup to be an inoperably thin sliver.

[2017-12-24 20:43] nyarly commented on #567
Fair enough. There is a current school of thought in the crypto community that e.g. TLS should never have included negotiation, and that the answer to protocol agility is "complete replacement."

But, I certainly don't know Ricochet well enough to understand its threat model. "Downgrade?" is a kind of Pavlovian response to "negotiation."

[2018-01-06 08:10] maqp commented on #244
@PowerPress TFC will ditch Pidgin and move to Tor Onion Service backend, hopefully during 2018. Interoperation with Ricochet will not be required. I'm closing this issue as unnecessary.

[2018-01-06 08:10] #244 closed

[2018-01-08 08:43] Betaman2k opened #568 "Project dead ?"
Heya
last update 1+ year
no furure for this software or NSA buy the software hehe

[2018-01-08 08:44] Betaman2k commented on #568
Heya
last update 1+ year
no furure for this software or NSA buy the software hehe

[2018-01-08 10:18] burdges commented on #568
Biar is a roughly equivalent project with on-going development.

[2018-01-08 17:44] s-rah commented on #568
Please see my response to #555 : https://github.com/ricochet-im/ricochet/issues/555#issuecomment-324094653

While it's true the main client hasn't seen many updates, there is plenty of on going development happening projects related to ricochet.

[2018-01-13 22:05] greymouse opened #569 "CreateProcess failed; code 740 - Win 10"
Unable to execute file:
C:Users\greymouse\AppData\Local\Ricochet\ricochet.exe

CreateProcess failed; code 740.
The requested operation requires elevation.

When installed on Window 10 normally, I get the above message. Also happens when installed normal then started with Administrative Privaleges.

When installed using Admin Privs, nothing comes up at all. This occurs whether started normally, or

[2018-01-18 01:40] ghost commented on #568
I think Pascal (and Object Pascal) is more easy than go (in all) and there is an IM software called torchat in which latest versions are based on him (Pascal and Object Pascal).

[2018-01-28 21:43] ei8fdb commented on #15
There is a small, lightweight Tor Hidden Service based file sharing application called [Onionize](https://github.com/nogoegst/onionize) by [@nogoest](https://github.com/nogoegst) (written in Golang).

I'm curious if there is possibility of making a nice IM + file sharing offspring ;)

[2018-01-28 21:48] ei8fdb commented on #568
@s-rah you mentioned in #555 about the need for UX input. If that was available, what are the post pressing needs?

[2018-02-07 22:57] graingert commented on #115
Currently Chat.onion seems the closest

[2018-02-07 23:04] georgeowell commented on #115
There is also [Briar](https://briarproject.org/) which has some very good developers working on it. Briar also works over the LAN and Bluetooth.

There was a talk about it at congress: https://media.ccc.de/v/34c3-8937-briar

[2018-02-08 11:53] hasufell commented on #115
We're not looking for alternative software, but for a mobile version.

[2018-02-11 17:05] ghost commented on #568
@burdges can you please share a link to Biar? I can't find it through searching.

[2018-02-11 19:19] burdges commented on #568
https://briarproject.org/

[2018-02-11 19:57] ghost commented on #568
It is not for desktop devices.

[2018-02-11 22:21] ghost commented on #568
Thanks. Any other analogous projects but for desktop?
I know there is an OTR plugin for pidgin (but pidgin doesn't use Tor).

[2018-02-11 22:23] ghost commented on #568
TorChat but it was also abandoned. First, it was written in Python, later, in Pascal.

[2018-02-11 22:24] ghost commented on #568
Pascal version it is only supported by pidgin.

[2018-02-11 22:24] ghost commented on #568
When you say "also" that implies the current one is abandoned too?

[2018-02-11 22:26] ghost commented on #568
I think this but i didn't want to put it. I am not sure, really.

[2018-03-10 23:15] Kratumn opened #570 "You have plans in feature making this messanger for android ?"
i love this messanger is the best idea , i want to use this on my android device

[2018-03-10 23:24] Kratumn opened #571 "update tor please latest version is 0.3.2.10"

[2018-03-10 23:38] s-rah commented on #570
See #115

There is some work being done outside this project e.g. https://github.com/dballard/goRicochetMobile

[2018-03-21 13:15] Kratumn commented on #570
Nice

[2018-04-14 19:42] naruto700 opened #573 "Add social networking feature"
Thank you for your work
This app is awesome

I want to add social networking features
It is similar to this application
http://onionapps.github.io/ourbook/

Also use the best web interface, by Tor Browser
Tor Browser users will then be able to see the social networking page

[2018-04-30 22:15] burkifaso opened #574 "it is DEAD ?"
this project is DEAD ? im pretty sure it is...no update .. nothing

[2018-04-30 22:33] s-rah commented on #574
Nope not dead, just resting. Lot's of work going on in auxiliary projects, like the go library: https://github.com/s-rah/go-ricochet

See also: #568

[2018-04-30 22:33] s-rah commented on #574
And https://github.com/ricochet-im/ricochet/issues/555#issuecomment-324094653 for a more detailed answer.

[2018-04-30 22:40] burkifaso commented on #574
why no new windows, linux , mac releases compiled..and ready for download... ??

[2018-05-03 18:03] WPFilmmaker commented on #574
@s-rah Would you be able to estimate when normal users will be able to benefits from the ongoing developments of such ricochet auxiliary projects? Are you planning on releasing a go-written ricochet messenger as alternative to this one? Thanks for your work!

[2018-05-05 13:42] ApostolosB commented on #574
@s-rah if you could add a news/what are we up to section on the website with updates every month or two would also help.

[2018-05-08 14:56] wfr opened #575 "Hidden Services v3"
Ricochet currently uses classic Tor hidden service addresses. Next generation hidden services fix security and design flaws found in the original or legacy hidden services.

Onion v3 functionality is now enabled in the stable release version of Tor.

Ricochet should support this new address type.

* [Specification: Next-Generation Hidden Services in Tor](https://gitweb.torproject.org/torspec.git/t

[2018-05-27 19:38] Taipo opened #576 "Sys tray"
App needs to be able to minimise to the system tray

[2018-05-27 19:43] Taipo opened #577 "Backup / Restore richochet ID"
Users need to be able to restore an account from private keys in order to reuse the richochet ID.

[2018-05-27 22:41] ghost opened #578 "[WARNING] This project is dead, time to move on to Wire or something."
To be honest @s-rah and @special , no one can verify you guys are working on this project or not.
Did you abandoned this software? It seems so.

Almost 2 years for no release.
Why not just merge current pull requests, update tor binary to latest, pack it and release it as "maintenance release" already?
If you're working on ricochet-go, it will sure take time because it is currently in development

[2018-05-27 22:45] ghost commented on #578
And it would be nice if you post a status every month, IF you're still working on this.

[2018-05-29 07:00] ghost opened #579 "[NEWS] The Tor Project said this software is a "Discontinued software"."
https://trac.torproject.org/projects/tor/wiki/doc/TorifyHOWTO/InstantMessaging

Copy start:

---

Software listed here has become depreciated and development has ceased. They are therefore considered unsafe and it is highly recommended to avoid using them. This section is here purely for historical value.

Ricochet IM is an open-source, decentralised instant messenger project that officially ended

[2018-05-29 07:42] asvvvad1 commented on #577
You just have to backup ricochet.json in the config directory which contain the private key under "identity" in ”serviceKey"

[2018-05-29 13:51] ilovelinux commented on #578
It's not dead. Take a look at https://github.com/ricochet-im/ricochet/issues/574, https://github.com/ricochet-im/ricochet/issues/568, https://github.com/ricochet-im/ricochet/issues/555#issuecomment-324094653

[2018-05-29 14:03] ilovelinux commented on #579
As @s-rah said, devs are writing libraries to make Ricochet more usable https://github.com/ricochet-im/ricochet/issues/555#issuecomment-324094653
Ricochet is secure. I think there are no doubt on this. If you still have some let's read how Ricochet works: https://ricochet.im/#how-it-works, https://github.com/ricochet-im/ricochet#how-it-works,

qTox works in a little different way, it's not built o

[2018-05-29 19:35] tox-user commented on #579
Yes, you can use Tox over Tor.

[2018-05-29 23:41] ghost commented on #579
@ilovelinux
## Software listed here has become depreciated and development has ceased.
## They are therefore considered unsafe and it is highly recommended to avoid using them. This section is here purely for historical value.

[2018-05-29 23:51] ohmynameisrico commented on #579
@ilovelinux
If you are blind enough to trust Tor statement, create a ticket in trac.tpo.

[2018-05-29 23:59] ghost commented on #578
@ilovelinux You're blind and don't want to face the truth. Read my original post already.

[2018-05-30 00:00] ghost commented on #578
https://github.com/ricochet-im/ricochet/issues/579

[2018-05-30 06:50] s-rah commented on #578
Since I've been pinged multiple times to comment on this, but I will state I am speaking for myself here.

There are a number of reasons I've been quiet, one of the main ones is that I've been in hospital dealing with medical stuff. Life gets in the way sometimes  ¯\_(ツ)_/¯

However, https://github.com/s-rah/go-ricochet is actively being developed (last commit 20 days ago, last activity today). Ri

[2018-05-30 08:47] ghost commented on #579
@ilovelinux
"Ricochet is secure" is completetely BS. At least 10+ vulns are found and you still say secure?
Source is already open, find it yourself. And stop yelling secure which is a FUD.

[2018-05-30 08:48] ghost commented on #578
@s-rah Would you mind posting this URL to your Twitter for identity verification? Your Github might be hacked by @ilovelinux.

[2018-05-30 08:50] ohmynameisrico commented on #578
@s-rah And one more thing: Why you guys(either) told the Tor Project that the project is discontinued?

[2018-05-30 08:50] ohmynameisrico commented on #578
Ok, let's continue in #579 ok?

[2018-05-30 11:11] ilovelinux commented on #579
Can you link something about these 10+ vulns?

[2018-05-30 15:49] #579 closed, assigned to nobody

[2018-05-30 15:50] #574 closed, assigned to nobody

[2018-05-30 15:50] #568 closed, assigned to nobody

[2018-05-30 15:51] #578 closed, assigned to nobody

[2018-05-30 15:55] #570 closed, assigned to nobody

[2018-05-30 22:30] ghost opened #581 "Tor Wiki and User Perceptions"
https://trac.torproject.org/projects/tor/wiki/doc/TorifyHOWTO/InstantMessaging

Software listed here has become depreciated and development has ceased. They are therefore considered unsafe and it is highly recommended to avoid using them. This section is here purely for historical value.

Ricochet IM is an open-source, decentralised instant messenger project that officially ended development in No

[2018-05-30 22:32] ghost commented on #581
@Betaman2k @burkifaso Collaborator s-rah is too ignorant to close "dead?" question threads LOL

[2018-05-30 22:32] ghost commented on #581
## Software listed here has become depreciated and development has ceased.
## They are therefore considered unsafe and it is highly recommended to avoid using them.

 ## Ricochet

[2018-05-30 22:49] herbsmn commented on #452
This seems like something worth looking into again now that the Additional Software feature is rolling out in Tails. https://tails.boum.org/news/test_asp-beta/index.en.html

Even if Ricochet isn't shipped in Tails, it'd be nice if it would actually work when installed via the Additional Software feature, but I just tested it out and it doesn't work. I just tried it and I'm getting the same result

[2018-05-31 04:40] s-rah commented on #581
The Tor wiki reflects the opinions of the Tor Project, and does not represent an official statement about the status of Ricochet.

Please stop creating duplicate issues and pull requests, especially those which attempt to pass themselves off as official statement on the status of this Ricochet project. I have kept #580 open and any further discussion over messaging to send to users regarding the s

[2018-05-31 04:40] #581 closed, assigned to nobody

[2018-06-05 23:24] epidemics-scepticism commented on #452
It won't work on Tails even with additional software because it needs

1. An onion-grater profile, the control port filter. I have a patch to add this to Tails on the ricochet ticket under Tails.
2. It needs a specific config so that it will only use ports to communicate which are available through the Tails iptables config. I also have a patch for this under the ricochet ticket under Tails.

If y

[2018-06-23 06:28] scottprovost commented on #412
Building an anonymous gateway for anon chat is trivial and easily done. No reason for such a gateway to be specific to any one chat system. I can demo such a system if you like. No need for Ricochet to write anything special.

[2018-06-23 06:30] scottprovost commented on #54
Building an anonymous gateway for anon chat is trivial and easily done. No reason for such a gateway to be specific to any one chat system. I can demo such a system if you like. No need for Ricochet to write anything special.

[2018-06-23 06:31] scottprovost commented on #556
Building an anonymous gateway for anon chat is trivial and easily done. No reason for such a gateway to be specific to any one chat system. I can demo such a system if you like. No need for Ricochet to write anything special.

[2018-06-28 18:44] jaw-sh commented on #115
+1

[2018-06-30 03:40] lucianposton opened #582 "apparmor.d/usr.bin.ricochet"
https://github.com/ricochet-im/ricochet/blob/a22c729b3e912794a8af65879ed1b38573385657/ricochet.pro#L65

See https://github.com/ricochet-im/ricochet/pull/549 for previous discussion on the issue.

This approach to renaming a file before installing doesn't work with qmake (at least not with 5.9.4). qmake does not execute the install step after the cp is performed.

A workaround is to manually perfor

[2018-07-07 15:18] lucianposton commented on #582
See https://github.com/ricochet-im/ricochet/pull/549 for previous discussion on the issue.

So this approach to renaming a file before installing doesn't work with qmake (at least not with 5.9.4). The install is not executed after the cp is performed.

A workaround is to manually perform the cp before running qmake.

[2018-07-11 03:26] s-rah opened #583 "[Proposal] New Client Authentication Protocol"
Today I had a conversation with someone regarding deniability and the way ricochet currently does client authentication in the protocol.

They proposed we replace our current challenge-response protocol (https://github.com/ricochet-im/ricochet/blob/master/doc/protocol.md#authhiddenservice) with a 3DH DAKE - we would then encrypt messages between peers using the derived key.

This would provide cli

[2018-07-11 18:07] homebeach opened #584 "Connectivity to Matrix"
How about adding connectivity to [matrix network](matrix.org)? One way to do this would be making a bridge between Ricochet and [Matrix](matrix.org). Here is a corresponding issue in [Matrix wishlist](https://github.com/turt2live/matrix-wishlist/issues/144).

Here is their [FAQ](https://matrix.org/docs/guides/faq).

[2018-07-16 17:23] kradan commented on #571
I just started ricochet compiled from source (a22c729b3e912794a8af65879ed1b38573385657) and it automatically uses the installed version of tor (0.3.3.9). Thus a user only needs to make sure that a current version of Tor is installed. It is automatically used by ricochet:

also: dupllicate of #487

[2018-07-17 13:18] kradan commented on #575
- [X] set the correct HiddenServiceVersion
- [ ] update ricochet's internal structure to support HiddenService version 3
- [ ] load (and store) version 3 private and public keys
- [ ] handle the different cryptographic algorithems associated with v2 and v3 HiddenService identifiers

[2018-08-01 21:08] vv01f commented on #577
suggesting …

* [ ] specify config-dir for cases of different os
* [ ] add e.g. in a FAQ section of the doc

[2018-09-04 22:11] straumer opened #586 "Report that Ricochet running in a VM Triggered Arbitrary Screenshot Program"
Hi. I was running ricochet in a Virtualbox VM, turning it off and on a few times. Then at one time a popup came, informing me that a subprocess failed to run, named "scrot". This command takes screenshots. The OS was Trisquel Linux 8.0.

Just want to point this out. Kind of regret running it on my bare system now before I did this. :-p It makes sense though, especially with no update since 2016. T

[2018-09-05 00:52] s-rah commented on #586
Can you provide more information on the setup? Was the binary from a package manager or was it downloaded from github? Do you have memory dumps / debug traces? What version of Tor was running with it? Can you upload the binary you are using (or send it to me sarah@openprivacy.ca)

I think attributing this to a security vulnerability in ricochet is premature, particular when the attack vectors for

[2018-09-05 01:52] straumer commented on #586
Sorry, I should've taken a snapshot, but I was just taken aback in the moment and shut it down. I wasn't doing any analysis on it, so this was unexpected. I installed [ricochet-1.1.4-linux-x86_64.tar.bz2](https://github.com/ricochet-im/ricochet/releases/download/v1.1.4/ricochet-1.1.4-linux-x86_64.tar.bz2) on that system. I'll get you the whole virtual machine in a moment.

[2018-09-05 02:18] straumer commented on #586
So, while I'm compressing the files. I didn't have any contacts in there, so this would have to be carried out without needing contact approval. I just set up the virtual machine today, got the binary from github as described, installed, and set up an automatic login and startup of ricochet on startup. I ran ricochet a few times as I was testing this automatic startup, then let it just wait for a

[2018-09-05 02:39] straumer commented on #586
I uploaded two VMs [here](https://drive.google.com/file/d/1brJcJOseDMhbDe9NnUadGeILGduilrgd/view?usp=sharing). One is "ricochet" which was after the incident and one is "ricochet-bak" which is a copy of the same machine taken shortly before the incident. I just wanted to be able to start it clean, in case I'd see suspicious behavior after some time of use. The ricochet package is in the ricochet u

[2018-09-05 03:46] s-rah commented on #586
Hi! Thanks for uploading the images. From a quick look, it looks like scrot is setup to be the default command to be run in the window manager (openbox) running in the VM - could it be that you triggered this?

![screenshot from 2018-09-04 20-39-53](https://user-images.githubusercontent.com/106626/45069721-c14baf80-b082-11e8-8e6a-affadbe9333f.png)

[2018-09-05 09:53] straumer commented on #586
Hah! Yes, I reproduced that. That makes me both embarrassed and happy. Sorry about that ^^;

[2018-09-05 12:04] jes commented on #565
But a malicious client can just reuse whatever cookie it wants anyway.

I don't think there's any real argument for *removing* the client cookie, but I don't see how it adds any security.

[2018-09-05 12:10] jes commented on #565
Actually, I think this might be broken even with the client cookie.

Let's say Alice is friends with Bob and Eve, and Eve wants to impersonate Alice and speak to Bob.

Alice connects to Eve, and says "my client cookie is 123, what's your server cookie?"

Eve then connects to Bob and says "my client cookie is 123, what's your server cookie?"

Bob says to Eve "my server cookie is 456".

Eve says to

[2018-09-05 16:02] s-rah commented on #586
No worries, glad we got to the bottom of this :)

[2018-09-05 16:02] #586 closed, assigned to nobody

[2018-09-17 04:19] hotelzululima opened #588 "win10 generated ricochet address cant be acctepted by either win8 ricochet or osx ricochet"
this ricochet:aknvv7zv4x37q6yi
address generated under win10 by a friend cannot be added to win8 ricochet or osx ricochet...

whats up??

[2018-09-17 04:26] hotelzululima commented on #588
fix from issue #130 worked ie delete last char and type manually.. suspect windows line endings fucking up the copy and paste..  leaving open as its still an issue

[2018-09-30 17:27] RickOShea opened #589 "Username and settings sizing issue"
HI the Username and settings cannot be accessed the size cannot be manipulated this is on Windows 10.

Any idea why?

![rick](https://user-images.githubusercontent.com/43728376/46260471-6456e400-c4de-11e8-8f1a-3007bf4679a2.PNG)

[2018-10-01 18:25] core-code opened #590 "version numbers missing on macOS"
i've downloaded Version '1.1.4' but when selecting it in the Finder and using 'Get Info' it doesn't show any Version-number at all. i guess the **CFBundleVersion** and **CFBundleShortVersionString** entries in your **Info.plist** file are missing.
all apps on macOS are supposed to contain valid version information.

[2018-10-13 19:45] jes commented on #452
FWIW, I got it working without any patches by simply adding a firewall rule that allows the amnesia user to access anything on localhost. This is convenient for actual usage, but not as secure as the methods described above.

https://incoherency.co.uk/blog/stories/ricochet-tails.html

[2018-10-13 20:31] traumschule commented on #452
Interesting. What happens if you only configure Ricochet to use Tails' Tor daemon?

[2018-10-13 20:35] jes commented on #452
I'm not sure how to try that, but it sounds like it would work if you gave the amnesia user access to the Tor control port. The packaged version of Ricochet tries to start it's own Tor process, I don't know if there's a configuration option to do anything else, but it's not exposed in the UI if there is.

[2018-10-13 20:49] jes commented on #452
I suppose you could make the `control-port` file with `PORT=127.0.0.1:9060` (or whatever port it is), and make the file immutable (`chattr +i`) and see if Ricochet works. Might be worth playing with.

It would still try to start its own Tor process (which would presumably exit because it can't write to `control-port`), but as long as Ricochet doesn't notice that its Tor process exited, it would pr

[2018-10-13 21:57] traumschule commented on #452
try
1. ./ricochet ~/.config/ricochet
2. choose `Configure`
3. Configure `127.0.0.1` and `9050` for the Socks5 proxy
4. Click `Connect`

This will create (among others) `~/.config/ricochet/tor/torrc` with

which according to `man tor` has the effect we want:

[2018-10-13 22:01] jes commented on #452
That doesn't work as it doesn't allow Ricochet to access Tor's control port. Did you read the method I linked in my post above? I made Ricochet's Tor instance proxy via the system Tor instance (which is what you just suggested) *and* I added a firewall rule to allow Ricochet to access the control port of its Tor instance.

[2018-10-18 20:58] burkifaso commented on #576
I need it also, someone can help with that ? hmm

[2018-10-20 15:06] jes commented on #54
FWIW, I made a rudimentary group chat system for Ricochet by basically implementing an IRC channel over the top of the Ricochet protocol. To join a group chat you just add the ricochet ID of the chat server, which then forwards messages between clients. This means the server can see everything, and can even forge messages without clients being able to realise, so it's introducing 1 extra trusted p

[2018-10-22 07:50] traumschule commented on #452
Two links that could help:
https://tails.boum.org/contribute/design/#index18h3
https://git-tails.immerda.ch/tails/tree/config/chroot_local-includes/etc/ferm/ferm.conf

[2018-10-28 00:25] epidemics-scepticism commented on #452
You don't need to edit ferm at all, you just pre-configure ricochet to use the port exceptions that already exist for onionshare. See my pre-existing patch-set for tails builder. I even have patches for persistence on the tails ticket.

[2018-10-28 00:48] traumschule commented on #452
Thanks for the clarifcation! Will ricochet be included in Tails per default? This will help users who are not confident configuring tor themselves. Otherwise we should provide clear instructions in the documentation.

[2018-10-28 00:54] epidemics-scepticism commented on #452
That was my intent, unfortunately it seems unlikely at the moment. The biggest hurdle seems to be installing ricochet at the moment, without some kind of library conflict with other packages. Tails don't want to include it as is, they want more of it included upstream rather than maintained in Tails. But if you're willing to build your own Tails image then it's feasible right now, yes.

[2018-10-28 13:03] jes commented on #50
I have implemented a web interface, although it doesn't work the way described above.

It's a standalone program that you run on a machine that you trust, and the identity is tied to the browser rather than the server.

Repository at https://github.com/jes/ricochet-web and public demo instance at https://ricochet-web.org/

The next major feature is some sort of "bouncer" mode where you can share t

[2018-11-03 05:09] amazzoccone commented on #115
Why not a PWA instead of multiple native apps, having the cost of maintenance per OS?

[2018-11-03 11:34] duffert commented on #115
@amazzoccone a PWA would render the whole idea with Ricochet void

[2018-11-03 15:05] bithurder commented on #115
You could have a a PWA run against your desktop at home with full encryption.. the Ricichet client itself doesn't need to be in the phone.

[2018-11-03 17:56] duffert commented on #115
Honestly implementing that will render the anonymity provided by Ricochet completely useless. This requires a wealth of elements. You will need to expose a service from your home system bypassing NAT at you home system as well as possibly CGN. I can't stress enough how much extra effort this will require compared with implementing a true standalone version for mobile platforms.

[2018-11-14 20:06] jeroenev opened #591 "website certificate expired"

[2018-11-16 22:28] ThatLurker commented on #591
seems ok to me
<img width="347" alt="screenshot 33" src="https://user-images.githubusercontent.com/1533244/48650621-accf5000-e9ff-11e8-938c-2284573c2d69.png">

[2018-11-16 22:30] jeroenev commented on #591
Yeah it's OK now,
It was expired when i posted this

[2018-11-16 23:13] herbsmn commented on #452
@epidemics-scepticism does your patch continue to work with the newest Tails releases?

[2018-11-20 17:10] catskillmarina opened #592 "combine ricochet addressing with signal protocol and SMP"
This is an enhancement.

Layer signal protocol with multi-party groups over ricochet protocol.

Add SMP auth for safety.

[2018-11-25 20:02] GONQ commented on #278
I am experiencing this issue, version 1.1.4. If I try to delete any contact, pending or accepted, the application crashes. I replaced the chip ID with zeroes since I'm not going to publish my chipset serial.

[code]

[2018-11-25 20:04] GONQ opened #593 "Ref. #278 - Application Crashes When Removing Contact"
I am experiencing this issue, version 1.1.4. If I try to delete any contact, pending or accepted, the application crashes. I replaced the chip ID with zeroes since I'm not going to publish my chipset serial.

[code]

_Originally posted by @GONQ in https://github.com/ricochet-im/ricochet/issue_comments#issuecomment-441468328_

[2018-12-03 22:37] epidemics-scepticism commented on #452
The core of my patch set is still fine.

### Current blockers for inclusions:

- Only stretch/stable supports a QT library that doesn't conflict with other Tails' software deps
- Only testing/next-stable is packaged with the AppArmor profile after I got it merged upstream.

As such you'll want to install ricochet from stretch/stable and include the AppArmor patch.

Minor/Annoying things:

- Some o

[2018-12-09 03:54] GONQ commented on #593
I downloaded the tar.gz from the richochet site and that version does not reproduce the error. Perhaps the ubuntu / mint .deb package does not include the fix yet.

[2018-12-14 17:45] yurivict commented on #593
It seems like this project is abandoned.

[2018-12-14 19:41] GONQ commented on #593
Perhaps the Ricochet-im developer is on hiatus. In the meantime some of
the privacy wonks are working on PyBitmessage. You can find more info on
Bitmessage [chan] DevTalk. Spammers hit the other public chans hard with
DDoS flooding, so I advise not to bother with public chans until they
come up with a better flood mitigation mechanism.

[2018-12-14 20:02] yurivict commented on #593
Thanks for this info.

[2019-01-13 18:22] DyslexicAtheist opened #594 "working apparmor profile for debian sid"
Hi,

I've installed the latest package from debian sid:

[code]

AppArmor chokes on this because permissions for ~/.local ~/.cache ~/.config prevents ricochet from correctly setting up the config, directories and local user environment when launched for the first time. The effect is that ricochet starts, appears to be working at first sight but actually is unable to maintain state (a unique ricoch

[2019-01-24 04:15] ghost commented on #593
That number is not a serial number in case you were wondering. Everyone in the world with the same chipset as you (so multiple mainboards) would have the same id.

In any case it is unrelated to this issue. The issue seems to be:

[code]

Without a [core dump](https://en.wikipedia.org/wiki/Core_dump) there isn't much that can be done without trying to reproduce the error which doesn't happen all t

[2019-02-21 10:37] JonTheNiceGuy opened #595 "Ricochet won't launch on Ubuntu Mate 18.04"
Bug filed via Launchpad: https://bugs.launchpad.net/ubuntu/+source/ricochet-im/+bug/1817037

Description:

When trying to launch ricochet-im on Ubuntu Mate 18.04, I get this message:

[code]

[code]

[2019-02-28 21:41] Bairnsfather commented on #487
I am glad tor comes bundled inside the Ricochet app.
* It consumes minimal resources.
* It comes signed on macOS.
* Makes Ricochet.app self-contained & easy to install.
* And possibly one more option I’m about to ask about, updating it manually seems fairly easy.

From the perspective of the developers of Ricochet (tor, etc…) what are the problems, or are there major problems, with merely copying

[2019-03-01 22:38] Rspigler commented on #487
Work is ongoing here:
https://git.openprivacy.ca/openprivacy/libricochet-go

I think a version without Tor bundled could be beneficial for the developers to keep maintenance easier, but also for Qubes users to be able to run the IM in a VM with `sys-whonix` as the NetVM without a Tor over Tor situation.

[2019-03-02 13:48] chairoom852 commented on #487
ในวันที่ ศ. 1 มี.ค. 2019 04:41 น. acb <notifications@github.com> เขียนว่า:

[2019-03-11 18:43] Mikaela commented on #351
Is Ricochet becoming more fingerprintable considering on how Tor 0.3.5 defaults to using version 3 for Hidden Services which Ricochet doesn't support (https://github.com/ricochet-im/ricochet/issues/575)?

* https://blog.torproject.org/new-releases-tor-0357-03410-and-03311

[2019-03-11 18:48] Mikaela commented on #575
I think it should also be mentioned on this issue that Tor 0.3.5 defaults to version 3 Hidden Services according to [Tor blog](https://blog.torproject.org/new-releases-tor-0357-03410-and-03311).

Sorry if I am causing multiple notifications on the same thing.

[2019-04-10 11:51] shivamsingha opened #596 "Add contacts button not visible"
Add contact 'cross' button/icon is not visible, but is clickable.
Settings button looks weird.

### Expected Behavior
![Screenshot](https://github.com/ricochet-im/ricochet/raw/master/ricochetscreen.png)

### Actual Behavior
![snip9](https://user-images.githubusercontent.com/11738908/55876215-9f6d5a80-5b86-11e9-9729-fb06a707672f.png)

### Environment
- Windows 10 32b
- Ricochet 1.1.4

[2019-05-27 08:45] cypherbits opened #600 "Please @special do something"
Ricochet is used by many people, please, update the project. It's just a few hours of work.
@special @s-rah

[2019-05-27 23:47] BurningCayenne commented on #600
Yeah, ricochet really needs an update and you could make it so much better

[2019-05-28 06:53] cypherbits commented on #600
-Recompiling with Qt 5.12 LTS.
-Master branch, no need to review pull requests.
-Update Tor to latest 0.3.x series.

I already did it locally, but I don't own this official repository.

[2019-05-28 15:46] mva1985 commented on #600
would it be possible for you to fork Ricochet and update it like you did so others could download it?

[2019-05-28 16:04] cypherbits commented on #600
OK, I will, check my fork in a few days.

Adding v3 onions will be hard for me (not a C developer) but not impossible.

[2019-05-29 18:45] cypherbits commented on #600
People willing to help me develop and fix Ricochet do it on my fork:

Help me test this build on Linux:
https://github.com/cypherbits/ricochet/releases/tag/v1.1.4.1

[2019-05-31 14:27] cypherbits commented on #600
@mva1985 @BurningCayenne

[2019-06-01 02:27] mva1985 commented on #600
@cypherbits  any chance of getting a windows build??  I saw you released a version on your fork

[2019-06-03 02:25] mva1985 commented on #600
My richochet ID ricochet:vzhpjiibxba3eycb

[2019-06-04 19:08] cypherbits commented on #600
@mva1985 after days of trying to compile it to Windows I think I almost have it.
There was a bug which is not fixed on main Ubuntu yet that made an error compiling Qt for Windows...
I will make a Wiki entry on how I did it and I hopefully will publish the Windows port soon.

[2019-06-06 15:20] cypherbits commented on #600
Not good, I'm still stuck trying to cross compile for Windows, not with compile errors on the OpenSSL front. I even tried to compile it on Windows with a bunch of errors too.

We need developers. I'm not a C developer.

[2019-06-06 23:20] mva1985 commented on #600
I'm sorry for the problems you're having but I appreciate your efforts

[2019-06-26 15:49] cypherbits commented on #600
Sorry to say I don't have much time right now to work on this and that I finally could not compile it.
There are many developers out there, why no one wanna help me a little? :(

[2019-06-27 21:32] mhatta commented on #600
With some tweaks, I could cross-build ricochet for Windows on the current Debian sid with mingw64.

Could anybody tell me how to update git submodules under buildscripts/src/ (such as Tor)?  I tried, but it's too confusing for me...

[2019-06-28 11:32] mva1985 commented on #600
they only way I could help is by testing a windows build if you are successful

[2019-06-29 07:24] eleanor-em commented on #600
Hey @mhatta: I haven't tested this myself, but the command `git submodule update --remote` should work (in the root of `buildscripts`). If you need to change the URLs for some reason, they're stored in `buildscripts/.gitmodule`.

I'd just like to take a moment to note that an organisation I'm working with at the moment is gathering resources to bring Ricochet up to speed: see https://github.com/bl

[2019-06-29 18:29] cypherbits commented on #600
I tried to update submodules, Qt version too, but it broke... it is not detecting correct submodules or something... IDK
There are some modules that do not exists in newer versions of Qt because they are integrated on main Qt.

---

PD: happy to see people contributing.

PD2: Please people, post how and where do you compile things.

[2019-06-30 23:55] DiagonalArg opened #601 "Suggestion: Focus on the Service. Do not include Tor"
In case this project revives, note that there is such thing as an "ephemeral onion services" and that [onionshare](https://github.com/micahflee/onionshare/)/[onionize](https://github.com/nogoegst/onionize) are using it.

If you use that with ricochet, you won't have to include tor, thereby keeping it from becoming obsolete so quickly.  Then you can just focus on the service.  Here is [a descriptio

[2019-07-01 01:12] eleanor-em commented on #601
This is really neat, cheers!

[2019-07-01 01:13] eleanor-em commented on #600
So I've got a successful build with current Tor on Ubuntu 18.04 with the Linux buildscripts -- I'll look at Windows cross-building soon.

[2019-07-01 09:46] mhatta commented on #600
Seems I could produce Windows 64bit installer package w/ Qt 5.12.4 & Tor 0.3.5.8.  Try it if you want:

https://github.com/mhatta/ricochet/releases/download/test/Ricochet.exe

I'll refine this later.

[2019-07-01 09:49] mhatta commented on #600
Hi @noneuclideangirl, currently I'm working on my own fork repos, but if you could add me, we can work together on blueprint-freespeech repos.  How do you think?

[2019-07-01 15:37] cypherbits commented on #601
The goal of including Tor with Ricochet is that people with no system-wide Tor, like Windows users can use Ricochet easily. Ephemeral onion services make easy for Ricochet to manage many identities but you need Tor to connect to Tor xD

[2019-07-01 15:41] cypherbits commented on #600
Me too, I want to contribute, I know about QML/design part and can help compiling things.

@mhatta please, explain more how did you compile it for WIndows. Where and how.

[2019-07-01 22:49] eleanor-em commented on #600
Feel free to -- I don't have the ability to add you to the team but you're more than welcome to submit work!

[2019-07-03 13:12] mhatta commented on #600
@noneuclideangirl Well, then It doesn't make much sense to use your repo, so I'll stick to mine...

[2019-07-03 13:19] mhatta commented on #600
@cypherbits You may check my buildscripts repo: https://github.com/mhatta/buildscripts/

My Ricochet ID is (for now) ricochet:tn5bmeldy2w6ghgf , but most of the time I'm offline.

Building with mingw32 is really difficult and I couldn't succeed after all.  Somehow 32bit/64bit confusion happens and the generated binary never works.  Building with mingw64 is quite easy but there are still several pi

[2019-07-03 13:41] mhatta commented on #600
Ok, I think this one is good enough: https://github.com/mhatta/ricochet/releases/tag/v1.4.1-revised1

I'm now consolidating the existing patches.

[2019-07-03 16:59] cypherbits commented on #600
If everyone of us create our own repository and we don't have one main official repository, we will accomplish nothing.

[2019-07-03 17:02] cypherbits commented on #600
Important: planning.

I think as we are just a few, we should want to maintain Ricochet, update Qt, some QML and Tor versions and include some fixes and GUI fixes/design.
We can even try to include onion v3 support, that would be good, but, please, do not try to get any new big features, we are few people and there is an alternative to Ricochet already functional called Cwtch.im

That means we sho

[2019-07-04 16:09] AyrA commented on #600
I know this sounds really ugly but what about rewriting in nodeJS with a web front end? I'm not a fan of this myself but I have to admit, system compatibility is very good.

Also my id is `ricochet:ricochetytijv2kh` if someone is interested. (Yes, it has ricochet twice)

[2019-07-04 18:50] cypherbits commented on #600
Nope nope nope nope nope

A really bad idea. nodeJS is not that safe and consumes many system resources.

As I said, the new project Cwtch is already making new features Richochet does not have. It is implemented in Goland: memory safe but fast and cheap for systems.

Ricochet: maintenance mode.
New features and development: Cwtch.

Do not start your own project, we want a good solution for users.

[2019-07-05 00:50] AyrA commented on #600
There are AFAIK no safety problems in the node engine itself. In fact, a JS implementation is probably safer then the original ricochet client considering JS doesn't suffers from attacks that target unmanaged languages.

The claim about it eating a lot of system resources is also a lie. In fact, my nodeJS test server application eats about 10 MB of memory, while ricochet uses over 40 when idling f

[2019-07-06 08:37] cypherbits commented on #600
What I mean about that is that there is no benefit of redoing Ricochet with nodejs and we should focus on helping other project replacing Ricochet already in development.
NodeJS on the GUI part is RAM hungry and the app executable is big too.

We CAN and SHOULD recompile Ricochet with the newest Qt and change some QML so the memory footprint is lower. Actually just updating Qt version should do th

[2019-07-08 15:10] mva1985 commented on #600
@mhatta I ran your installer and when I started ricochet it gave me an error that libstdc++-6.dll was missing

[2019-07-09 00:26] eleanor-em commented on #600
I agree that forking too hard is not a great idea. Blueprint has some (small at present) resources, and we currently have a developer working on getting updated releases ready. We can add you as contributors if you like — our goal is to bring Ricochet up to speed so that those who use it have a more secure solution than the current old version.

We also have a few ideas on how to further improve R

[2019-07-09 05:51] jgaa commented on #600
Just want to mention that I am working on an alternative that also will support android and ios (if Apple allows it in their store).
https://github.com/jgaa/darkspeak

[2019-07-09 08:55] eleanor-em commented on #600
The good news on that front @jgaa is that Qt supports Android now, so we could absolutely look at porting Ricochet over.

[2019-07-09 18:46] cypherbits commented on #600
@noneuclideangirl is that developer working on public github?

Has Blueprint access to the original Ricochet Github repository?

[2019-07-09 18:49] cypherbits commented on #600
@jgaa that is what I meant by fragmentation: every one of us starting a side project with the same goals... You are developing DarkSpeak with QtQML, I am was TorTribe in Java... and it's the same, actually mine was a bit different.
We should make just one project. Even Retroshare project is out there already using Tor and I2P...

[2019-07-09 20:59] mhatta commented on #600
@mva1985

Could you try this one? I tested it in a clean Win10 dev environment on Hyper-V, seems it works.

https://github.com/mhatta/ricochet/releases/download/v1.4.1-revised1/ricochet-1.1.4-win64-installer-2.exe

[2019-07-09 21:22] mva1985 commented on #600
i'll give it a shot....  thank you

[2019-07-09 22:27] mva1985 commented on #600
@mhatta that one worked perfectly...  thanks

[2019-07-10 13:53] DiagonalArg commented on #601
And those Windows users, how are they then to update Tor when this software becomes so extremely obsolete?  You're just making it easy for them to screw up.

[2019-07-10 17:11] cypherbits commented on #601
Windows build of Ricochet has the separate tor.exe, users can just update/replace this files to get the new version. The Tor only version built for Windows can be downloaded on the official Tor distribution folder: https://dist.torproject.org/torbrowser/8.5.4/
For example:
Tor Windows 32bits: https://dist.torproject.org/torbrowser/8.5.4/tor-win32-0.4.0.5.zip
Tor Windows 64bits: https://dist.torpro

[2019-07-12 15:22] mhatta commented on #600
I think it's nice to list all known secure instant messaging software.  Here's my take:

https://github.com/mhatta/awesome-secure-instant-messaging

[2019-07-13 02:11] mhatta commented on #600
Now I can build Ricochet with the latest Qt 5.13.0.  With several easy fixes, I released the unofficial 1.1.4.1.

https://github.com/mhatta/ricochet/releases/tag/v1.1.4.1

[2019-07-13 04:00] eleanor-em commented on #600
@cypherbits so what we're working on is getting releases with updated dependencies ready -- we're working on the build scripts fork https://github.com/blueprint-freespeech/refresh-buildscripts. Planning to have binaries released on our website soon.

[2019-07-13 07:20] jgaa commented on #600
@cypherbits I think it's good to have a variety of projects. My aim is to make something that work on desktop and mobile, that supports group chats, multiple active devices (like jabber and sip - you can be logged in on your laptop and your phone to the same account) and also in the future some social features like tweets and blogs - load balanced by distributing the content to clients that are co

[2019-07-13 16:09] Neustradamus commented on #600
@noneuclideangirl @mhatta @cypherbits @jgaa: Can you join forces for have new versions and not several forks?

@special @s-rah: Alive? It is possible to add people in @ricochet-im team?

[2019-07-13 23:29] noneuclideangirl commented on #600
@Neustradamus we (Blueprint) have been in communication with John and Sarah, Ricochet is well and truly dead and they haven't been willing to add us to the team.

[2019-07-15 17:11] s-rah commented on #600
Since I've been approached a few times about this now, I will make it clear where I stand. Years ago will working on the security of ricochet I started working on go library (goricochet which then became libricochet-go), the original plan was to transition the underlying C++ codebase to a go library (which is why there are go libraries under ricochet-im). While that was going on, I started a new p

[2019-07-15 18:07] cypherbits commented on #600
Many thanks for answering. I see now there is actually some "vulnerabilities" on the protocol and we should focus on Cwtch. Now, I think a little recompile and updated Tor won't hurt because many people is still using it and Cwtch is on alpha stage.

The future is Cwtch, but the present is still Ricochet as many people is using it ... I think people with access like @s-rah should make an official

[2019-07-16 18:19] DiagonalArg commented on #601
Wait, so you're saying I'm right then?  That because Windows users can use Ricochet easily - even if they should be replacing tor (but maybe don't) - the effect is that your including tor is making it easy for them to screw up?

Unless you are going to keep ricochet updated, so that we have a new version every time tor is updated, then you should not be pretending to Windows users that they do not

[2019-07-17 07:46] mhatta commented on #600
@s-rah Thanks a lot for sharing your thought!

[As I said](https://github.com/ricochet-im/ricochet/issues/600#issuecomment-508089553), I think Cwtch is very promising and personally consider contributing to it.  I also think you (or more likely @special) should have sunsetted Ricochet gracefully as the Tor Project did for their Tor Messenger.

I also like the almost tin-can-phonesque simplicity of

[2019-07-17 07:52] eleanor-em commented on #600
@mhatta we have some developers actively working on an updated release at the moment -- see repositories https://github.com/blueprint-freespeech/ricochet-refresh and https://github.com/blueprint-freespeech/refresh-buildscripts.

[2019-07-17 07:54] eleanor-em commented on #600
I'd also like to thank @s-rah for her contributions and issues raised, as well as @special for his help in private correspondence. I think Cwtch is super promising and I'd love to contribute when I have more time and resources personally. I'm currently doing contracted work for Blueprint, and our goal at the moment is to "fill the gap" and provide a safer version for current active users of Ricoch

[2019-07-17 08:05] mhatta commented on #600
@noneuclideangirl Yeah I saw your repos.  There seem to be several committers now.  Could you give me committer privilege?

[2019-07-17 08:16] eleanor-em commented on #600
@mhatta I don't have the authority to do that within the organisation, but if you're interested in contributing on a regular basis shoot Suelette an email at suelette@blueprintforfreespeech!

[2019-07-18 14:43] odiferousmint commented on #72
https://github.com/maqp/tfc

This sounds pretty good to me, or perhaps ed25519 for key exchange and signature to provide authenticity and integrity, with xsalsa20 for stream cipher to provide confidentiality.

For the record, you can use BLAKE2 as a prefix-MAC instead of HMAC.

https://blake2.net/blake2.pdf

Additionally, I have not checked the code but I sure hope it does an explicit_bzero() cons

[2019-07-18 14:50] odiferousmint commented on #555
Not a good idea to depend on a browser. I hope that this is not what is being suggested here.

[2019-07-30 15:04] suelette commented on #600
Blueprint is putting out a pre-release of Ricochet Refreshed for MacOS that incorporates the latest version of Tor. There’s more detail here: ricochetrefresh.net. This is our first step toward making Ricochet safer. It’s a pre-release so expect bumps.

Why are we working on this? Because this software provides unobserved, secure and easy-to-use connections between sources and journalists – right n

[2019-07-30 21:29] s-rah commented on #600
I'm glad you are "open to discussing them for the future" - but, quite frankly, that future was 2 years ago. The space has moved on. The landscape has changed.

Let me be explicit here, for fear of being misunderstood.

I've already provided a list of a number of issues with the old ricochet protocol & application. Moving to v3 onions completely changes the security assumptions around authenticati

[2019-08-05 00:22] suelette commented on #600
We've just created a pre-release for Linux, tested on Ubuntu 18.04. We have included the latest version of Tor 0.3.5.8 in the pre-release.
It's at ricochetrefresh.net.
Thank you to everyone who has pitched in to make it happen - we're making good progress.
Enjoy!

[2019-08-13 10:12] lestephane commented on #115
(my future looking 2 cents)

A 'true', 'native' app may actually be detrimental to privacy.

Seeing the direction legislation is going, the path of least resistance for mobile phone manufacturers (and mobile OS companies) will be, upon lawful government request, to capture conversations using:

- keylogging (on the way in) before it enters the app. exposing the sender who uses the mobile app
- gra

[2019-08-13 10:50] adhoc-zone commented on #115
@lestephane Have you looked into [Replicant](https://replicant.us/)? It is a fully free software Android distribution that meets [GNU FSDG](https://www.gnu.org/distros/free-system-distribution-guidelines.html). It has been around for years and runs on several devices.

As Replicant is stripped out of all proprietary components that are common on the Android stack (GPU driver too), you can be prett

[2019-08-13 15:33] cypherbits commented on #115
This feature request is already being fixed on Cwtch project.

[2019-08-14 08:35] lestephane commented on #115
Good recommendation, I take back my assertion that no mobile option exists.

Still, a warning that the recipient or sender is using a non-replicant might be good to have.

[2019-08-14 08:37] graingert commented on #115
The removing the warning could be easily spoofed

On Wed, 14 Aug 2019, 09:35 Le Stephane, <notifications@github.com> wrote:

[2019-08-16 08:01] grinapo commented on #115
What about [/e/](https://e.foundation/)?

(In fact it supports vastly more devices than the samsung-only Replicant. Still, way to go...)

[2019-08-21 21:32] adhoc-zone commented on #115
/e/, just like LineageOs, includes several proprietary components.

As an example, I took a look at [their build for the i9300](https://images.ecloud.global/dev/i9300/) and it includes the usual proprietary userspace for the GPU, modem and GPS. Replicant has a [nice table](https://redmine.replicant.us/projects/replicant/wiki/GalaxyS3I9300#Hardware-table) listing what they had to do (and remove) to

[2019-08-21 22:50] nestorkwak commented on #115
/e/, just like LineageOs, includes several proprietary components.

As an example, I took a look at [their build for the i9300](https://images.ecloud.global/dev/i9300/) and it includes the usual proprietary userspace for the GPU, modem and GPS. Replicant has a [nice table](https://redmine.replicant.us/projects/replicant/wiki/GalaxyS3I9300#Hardware-table) listing what they had to do (and remove) to

[2019-09-24 15:16] ResearchingGirl opened #602 "Idea of a feature: Decentralized chat groups"
Friendly hello!

Can the Ricochet team imagine what I'm describing in [https://trac.torproject.org/projects/tor/ticket/31836](https://trac.torproject.org/projects/tor/ticket/31836), integrating into Ricochet?

[2019-09-25 15:49] cypherbits commented on #602
Something like that is already on https://cwtch.im/

[2019-09-30 00:16] odiferousmint commented on #601
I made my response here: https://github.com/blueprint-freespeech/ricochet-refresh/issues/2#issuecomment-536354517

[2019-10-04 10:38] DiagonalArg commented on #601
I also made my response there: https://github.com/blueprint-freespeech/ricochet-refresh/issues/2#issuecomment-538340549

[2019-11-01 00:14] edn9 commented on #96
Hello, I would like to know is this still going on? I would love to use a dark theme.

[2020-01-12 21:34] bitnom commented on #570
It's gone :( I was thinking about it today and perhaps a Nim wrapper could be a relatively straight-forward path to Android.

[2020-01-13 16:44] cypherbits commented on #570
@TensorTom Ricochet.im project is gone.

The "new" project that wanted to resurrect it (https://ricochetrefresh.net/) is gone too... I said this would happen to them...

If we need something like Ricochet: contribute to Cwtch.im their developers are active (slow, but active) and some were Tor developers in the past.

[2020-01-14 17:30] s-rah commented on #570
The work that was done by Dan on Ricochet Mobile, eventually worked it's way into Cwtch and we have a fairly stable Android client now: https://openprivacy.ca/blog/2019/12/17/cwtch-alpha-0.3.1/

Not only does it support ricochet-style (2 peer ephemeral messaging), it also supports groups using untrusted infrastructure.

Still a long way to go, but we are making steady progress.

[2020-01-15 17:02] peter099 opened #603 "Ricochet for android?"
Is there any plans to make Ricochet available for android?

[2020-02-09 13:07] pdarcos opened #604 "Is this project still alive?"
Hi,

I don't see any commits here for a number of years and I only see the master branch.

Is this project dead or has it been forked and replaced somewhere?

It's a great project IMHO but sadly it seems to be stalled since 2017.

Cheers

[2020-02-10 18:02] cypherbits commented on #604
No, the new is cwitch.im

[2020-02-11 19:49] pdarcos commented on #604
Thanks! cwitch looks promising

[2020-02-11 19:49] #604 closed, assigned to nobody

[2020-03-10 06:39] bitnom commented on #570
https://git.openprivacy.ca/user/sign_up

Registration is disabled. Cannot use `go get` or `git clone`

[2020-03-10 16:44] s-rah commented on #570
Our git repositories were the subject of a DoS attack yesterday: https://twitter.com/OpenPriv/status/1237140260955369472 and locked down our gitea instance to registered users to minimize disruption to our staff and volunteers, we have since reenabled our gitea instance and it should be accessible to anonymous users again.

[2020-03-23 09:27] Sanyy commented on #562
Workaround:
copy all translation/.ts files as .qm into the same directory (with file manager takes 3 clicks)

it will be built but no other language than the default system lang will be available (i can live with that)

[2020-03-30 16:16] eloyesp commented on #603
Briar follows a quite similar system, but seems not to be interoperable.

Check: https://code.briarproject.org/briar/briar

It does **only** works on android.

[2020-06-11 12:56] q2dg commented on #595
Well, in fact, Ricochet seems abandoned, so ...

[2020-06-11 13:21] cypherbits commented on #595
Ricochet is abandoned.
There was Ricochet-Refresh try to revive it and it is abandoned too.

Should work on Cwitch.im

[2020-06-13 00:35] matt1tk opened #605 "Public ricochet ID location"
Where is the public ricochet ID stored?

[2020-06-13 07:11] cypherbits commented on #605
What do you mean about that?

[2020-06-13 12:38] matt1tk commented on #605
Just wondering in what file the public ricochet ID is stored. The private one is located in the config, but if I wanted to let ricochet run and access the public ID automatically, how would I do it?

[2020-06-13 18:58] s-rah commented on #605
Ricochet derives the public key from the private key at runtime: https://github.com/ricochet-im/ricochet/blob/a22c729b3e912794a8af65879ed1b38573385657/src/protocol/AuthHiddenServiceChannel.cpp#L196

[2020-06-13 23:42] matt1tk commented on #605
Thanks!

[2020-06-13 23:42] #605 closed, assigned to nobody

[2020-07-15 21:21] holmesworcester commented on #122
I just had two friends hit this problem too, and I'm really excited about Ricochet since I've been thinking about p2p chat a ton for my project https://zbay.app

So I got inspired and decided to take this on :)  Here's the PR: #607

And here's what it looks like on my machine:

<img width="770" alt="image" src="https://user-images.githubusercontent.com/213678/87596671-87a45080-c6be-11ea-9d3b-316ea

[2020-07-24 15:16] ghost opened #608 "Ricochet for iPhone ?"
Ricochet for iPhone ?

[2020-07-28 01:59] odiferousmint commented on #608
Well, there's iOS support for Qt, so it is probably possible. I do not think anyone is working on Ricochet anymore. It still needs to support Onion v3 hidden services. It is not that difficult to add support for that, but I currently lack the time. It is on my list of things to do in the future.

[2020-07-28 05:33] Khautz commented on #608
Thank you for your answer

[2020-07-28 05:33] #608 closed, assigned to nobody

[2020-07-28 05:33] ghost commented on #608
Thank you for your answer

[2020-07-28 10:49] cypherbits commented on #608
Guys, Ricochet is dead. No work on desktop, less on porting to iOS...

[2020-08-11 11:41] infocoms commented on #96
I modified the styling to a somewhat dark theme it's based on the looks of Signal. (It's not a full dark theme)
https://github.com/infocoms/Ricochet-DarkMode

[2020-09-12 16:22] tiotrom opened #609 "Cannot start on Manjaro"
I get this error:
[code]

[2020-12-08 02:41] 4urb4nm0nk commented on #591
I'ts occuring again, expired on 12/6
https://imgur.com/gqeuTPR

[2020-12-13 21:51] Danrancan opened #610 "ricochet.im is either hacked, or misconfigured. You might want to check your server settings."
ricochet.im is either hacked, or misconfigured. Firefox flags it as invalid and says if its not invalid then my clock is set wrong, which it isnt. You might want to check your server settings.

[2020-12-17 10:34] jeroenev commented on #591
and it's fixed again

[2020-12-17 10:34] #591 closed, assigned to nobody

[2021-02-11 00:39] jvsg opened #611 "John's keys that signed the tarball on download's page seem to have expired"

[2021-02-11 15:51] cypherbits commented on #611
Ricochet is abandoned.  The new one is Ricochet Refresh.

[2021-02-11 22:07] #611 closed, assigned to nobody

[2021-03-16 18:48] blob2k opened #612 "RetroShare 0.6.6 alternative to ricochet"
RetroShare 0.6.6 released
https://retroshareteam.wordpress.com/2021/03/15/release-notes-for-v0-6-6/
https://retroshare.cc/downloads.html
https://github.com/RetroShare/RetroShare/releases/tag/v0.6.6

[2021-05-15 17:52] cypherbits commented on #612
On the security view, the code and the structure is so big I doubt it's safe to use. But it's a good project.

[2021-07-07 07:56] AyrA opened #613 "Ricochet stops working in October 2021"
onion v2 addresses are deprecated and will stop working by the end of September. ([See publication here](https://support.torproject.org/onionservices/v2-deprecation/)).

This means that ricochet (which uses the old v2 addresses) will stop working at that point.

[2021-07-07 08:43] cypherbits commented on #613
Time to migrate to https://www.ricochetrefresh.net/

[2021-07-07 08:49] AyrA commented on #613
The title of this repository literally says "NOT FOR PRODUCTION USE" and the first paragraph says that it's currently not using v3 either and that this is still a work in progress, so sounds like migrating at this point is not worth it yet.

[2021-07-07 10:18] morganava commented on #613
Hi, ricochet-refresh dev/maintainer here. As usual documentation lags behind code. Ricochet-Refresh does use v3 and has since last summer/fall (see commit: https://github.com/blueprint-freespeech/ricochet-refresh/commit/55d29d7dec664099d9a00227b94bcd88f07a2f1f )

Our latest release (3.0.10) can be found here: https://github.com/blueprint-freespeech/ricochet-refresh/releases

There is no migration

[2021-08-02 19:09] angry17e0 commented on #613
Any way it v3 support can be backported to ricochet and to Debian, please?

[2021-08-02 20:31] cypherbits commented on #613
@angry17e0 please read the thread. "Ricochet" is dead. "Ricochet Refresh" is the new one: https://github.com/blueprint-freespeech/ricochet-refresh/releases

[2021-08-02 20:38] AyrA commented on #613
Probably not backported, but you can likely generate a v3 address using another tor instance and then copy the keys over.

[2021-08-10 22:08] crabctrl opened #614 "Website's SSL certificate expired 3 days ago"
Obviously not an issue with the actual software, just didn't know where to mention it. Website can't be accessed at all at the moment since it uses HSTS and even if you force an http connection it just redirects to the https site (which is good!). Getting that certificate renewed is kinda important ;D

[2021-08-23 06:23] milahu commented on #575
onion v3 is already used by https://github.com/blueprint-freespeech/ricochet-refresh

[2021-08-29 18:41] anarcat commented on #613
making this repo more obviously dead (ie. changing the readme or description and archving it) might help with this...

[2021-09-14 10:58] timkuijsten commented on #613
I think both [Ricochet Refresh](https://www.ricochetrefresh.net/) and [Cwtch](https://cwtch.im/) by @s-rah look promising and are worth checking out.

[2021-10-06 22:29] smaragdus commented on #613
@cypherbits

[Ricochet](https://github.com/ricochet-im/ricochet) is dead but [Ricochet Refresh](https://github.com/blueprint-freespeech/ricochet-refresh) is not an option for me as it uses [Code of Conduct](https://github.com/blueprint-freespeech/ricochet-refresh/blob/main/CODE_OF_CONDUCT.md) and I do not want to have anything in common with such idiocy and lunacy.

[2021-10-06 22:43] smaragdus commented on #578
[Ricochet](https://github.com/ricochet-im/ricochet) is dead, dead as a dodo.

[2021-10-07 00:34] cypherbits commented on #613
@smaragdus every project and organization has a code of conduct like that. And it's for the developers and contributors, not users... I don't see the "oh my god" you see in that code of conduct, can you please enlighten me?

[2021-11-09 09:35] RoseDeSable opened #615 "A lot of warning message at GUI"
Hi,
 after closing the IM I see a lot of such messages on my screen:

Updates can only be scheduled from GUI thread or from QQuickItem::updatePaintNode()

I use the newest version of Gnome.

What can I do ?

Bye
Rose

[2021-11-13 14:59] #614 closed, assigned to nobody

[2022-01-22 16:44] danielkrajnik commented on #603
If there was Briar that had VoIP-like functionality that would be amazing